.cars{
    background-color: blue;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.fruits{
    background-color: orange;
    margin: 15px;
    padding: 15px;
}

#wanafunzi{
    text-align: center;
    background-color: greenyellow;
}

#myimage{
    
}